@{
  Layout = "_Layout";
}

@using Factory.Models
@model Factory.Models.Machine

<h2>Machine Details</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.RequiredLicense): @Html.DisplayFor(model => model.RequiredLicense)</h3>  